
body
{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}

#container
{
}

header
{
    display: block;
}

#logo_container
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    user-select: none;
    transition: 1s;
    margin-left: auto;
    margin-right: auto;
}

#logo_container img
{
    width: 80vw;
    max-width: 1000px;
}

#logo_container img:hover
{
    filter: drop-shadow(0px 0px 10px lightskyblue);
    transition: 0.5s;
}

#middle_flow
{
    display: flex;
    justify-content: center;
}

#log_form_div
{
    display: none;
}

#log_form_div input, #register_form_div input
{
    margin: 10px 0;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, sans-serif;
    border-radius: 15px;
    box-shadow: inset 0 0 10px cornflowerblue;
    user-select: none;
    outline: none;
    color: darkslategray;
    text-shadow: 0 0 2px black;
    background-color: white;
}

#register_form_div
{
    display: none;
}

#start_buttons_container
{
    display: table;
    perspective: 600px;
    margin-top: 100px;
}

.log_button
{
    display: block;
    background: linear-gradient(to top, rgba(36,68,99,1) 0%, rgba(3,167,121,1) 100%);
    box-shadow: 2px 3px 0px 0px rgba(36,68,99,1),
                0px  3px 10px rgba(0, 0, 0, 0.7),
                0px  3px 10px rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(36,68,99,1);
    color: white;
    font-family: 'Lobster';
    user-select: none;
    text-align: center;
    font-size: 30px;
    margin: 20px auto;
    padding: 20px 30px;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
    width: 200px;
    transform: rotateX(20deg);
    position: relative;
}

.log_button:hover
{
    opacity: 1;
    transform: rotateX(10deg);
    transition: 0.3s;
}

.log_button:active
{
    top: 3px;
    transition: 0.3s;
    box-shadow: 3px 3px 0px 0px rgba(36,68,99,1),
                0px  3px 6px rgba(0, 0, 0, 0.9);
}


.dissapear_button
{
    animation-name: dissapear_div;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.show_button
{
    animation-name: show_div;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes dissapear_div
{
    0%
    {

    }
    100%
    {
        padding: 0;
        margin-top: 0;
        margin-bottom: -20px;
        font-size: 0;
        opacity: 0;
        border: none;
    }
}

@keyframes show_div
{
    0%
    {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 0;
        opacity: 0;
        border: 0;
    }
    100%
    {
        border: 2px solid rgba(36,68,99,1);
        font-size: 30px;
        margin: 20px auto;
        padding: 20px 30px;
        opacity: 0.8;
        width: 200px;
        transform: rotateX(20deg);
    }
}

#log_out_but
{
    position: absolute;
    top: 40px;
    right: 40px;
    opacity: 0.4;
    z-index: 1;
    transition: 0.3s;
}

#log_out_but img
{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#log_out_but:hover
{
    opacity: 1;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 10px rgb(3, 166, 120));
}

#information
{
    position: absolute;
    margin-top: -50px;
    width: 100%;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    text-shadow: 0px 0px 4px red;
    text-align: center;
    display: none;
    user-select: none;
}


footer
{
}