<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Pocket App</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../libs/jquery_prod.js"></script>
    <script type="text/javascript" src="../js/google_charts.js"></script>
    <script type="text/javascript" src="../js/app_script.js" defer></script>
</head>
<body>
    <div id="container">
        <form name="logout_form" th:action="@{/logout}" method="post">
            <div id="log_out_but"><img src="../pic/logout.png" alt="logo"></div>
        </form>
        <header>
            <div id="logo_container"><a href="app.html"><img src="../pic/logo.png" alt="logo"></a></div>
        </header>
        <div id="middle_flow">
            <div id="main_app_content">
                <div id="upper_menu_bar">
                    <div id="option_button_container" class="button_container">
                        <div id="option_button" class="option_button">option</div>
                    </div>
                    <div id="date_button_container" class="button_container">
                        <div id="date_button" class="option_button">month</div>
                    </div>
                    <div id="account_button_container" class="button_container">
                        <div id="account_button" class="option_button">santander consument bank</div>
                    </div>
                </div>
                <div id="piechart_3d" style="width: 800px; height: 500px;"></div>
            </div>
        </div>
        <footer>
        </footer>
    </div>
</body>
</html>