<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Pocket App</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../libs/jquery_prod.js"></script>
    <script type="text/javascript" src="../js/script.js" defer></script>
</head>
<body>
    <div id="container">
        <form name="logout_form" th:action="@{/logout}" method="post">
            <div id="log_out_but"><img src="../pic/logout.png" alt="logo"></div>
        </form>
        <header>
            <div id="logo_container"><a href="app.html"><img src="../pic/logo.png" alt="logo"></a></div>
        </header>
        <div id="middle_flow">
            <p>Witaj <span th:value="${user.userName}"></span> na stronie głównej aplikacji</p>
        </div>
        <footer>
        </footer>
    </div>
</body>
</html>