<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Pocket App</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="../libs/jquery_prod.js"></script>
    <script type="text/javascript" src="../libs/Chart.min.js"></script>
    <script type="text/javascript" src="../libs/chartjs-plugin-datalabels.js"></script>
    <script type="text/javascript" src="../libs/chartjs-plugin-doughnutlabel.min.js"></script>
    <script type="text/javascript" src="../js/app_script.js" defer></script>
</head>
<body>
    <div id="container">
        <form name="logout_form" th:action="@{/logout}" method="post">
            <div id="log_out_but"><img src="../pic/logout.png" alt="logo"></div>
        </form>
        <header>
            <div id="logo_container"><a href="app.html"><img src="../pic/logo.png" alt="logo"></a></div>
        </header>
        <div id="middle_flow">
            <div id="main_app_content">
                <div id="upper_menu_bar">
                    <div id="option_button_container" class="button_container">
                        <div id="option_button" class="option_button">option</div>
                    </div>
                    <div id="date_button_container" class="button_container">
                        <div id="date_button" class="option_button">month</div>
                    </div>
                    <div id="account_button_container" class="button_container">
                        <div id="account_button" class="option_button"></div>
                        <div id="user_accounts_list_container">
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="piechart_container">
                    <div id="piechart">
                        <canvas id="chart_canvas"></canvas>
                    </div>
                </div>
            </div>
            <!-- New Expense Form -->
            <div id="form_container">
                <div id="new_expense_form_container">
                    <img src="../pic/close.png">
                    <form id="new_expense_form" name="">
                        <div>
                            <a>Konto</a>
                            <div class="select_category" id="new_expense_account">
                                <div class="selected_item" id="new_expense_account_selected"></div>
                                <ul class="option_list">
                                </ul>
                            </div>
                        </div>
                        <div>
                            <a>Kategoria</a>
                            <div class="select_category" id="new_expense_categoty">
                                <div class="selected_item" id="new_expense_category_selected"></div>
                                <ul class="option_list">
                                </ul>
                            </div>
                        </div>
                        <div>
                            <a>Wartość</a>
                            <input class= "amount_input" id="new_expense_form_value" autocomplete="off" placeholder="0"></input>
                        </div>
                        <div class="log_button add_new_element_button" id="add_new_expense_button">Dodaj</div>
                    </form>
                </div>
            </div>
        </div>
        <footer>
        </footer>
    </div>
</body>
</html>